:root {
    --background-color: #ffffff;
    /* --background-secondary-color: #{$lightSecondaryBg}; */
    --opposite-background-color: #1e1f20;
    --color: #28292a;
    --opposite-color: #d2d3d4;
    --primary-color: #4285f4;
    /* --border-color: #{$lightBorderColor};
    --border-lighter-color: #{$lightBorderLighterColor};
    --border-radius: #{$borderRadius};
    --hover-background-color: #{$lightHoverBgColor};
    --active-background-color: #{$lightActiveBgColor}; */
    --palette-blue: #4285f4;
    --palette-dark-blue: #01579b;
    --palette-yellow: #fbbc05;
    --palette-red: #ea4335;
    --palette-green: #24a853;
    --palette-orange: #ff8f00;
    --palette-dark-gray: #2F3436;
    --palette-light-gray: #d3d3d3;
    --palette-pink: #ff0080;
    --palette-purple: #7928ca;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1f20;
        /* --background-secondary-color: #{$darkSecondaryBg}; */
        --opposite-background-color: #ffffff;
        --color: #d2d3d4;
        --opposite-color: #28292a;
        /* --border-color: #{$darkBorderColor};
        --border-lighter-color: #{$darkBorderLighterColor};
        --hover-background-color: #{$darkHoverBgColor};
        --active-background-color: #{$darkActiveBgColor}; */
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

a {
    color: var(--primary-color);
    transition: opacity 200ms;

    &:hover {
        opacity: .8;
    }
}
